<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://192.168.0.19:8080/android_adp/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.0.19</MSDeployServiceURL>
    <DeployIisAppPath>jheip/android_adp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MssqlConn" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.9;Initial Catalog=db;Persist Security Info=True;User ID=jhpda;Password=jinnher9801" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MssqlConn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.9;Initial Catalog=db;Persist Security Info=True;User ID=jhpda;Password=jinnher9801" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="JHERPDB2" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=JHERPDB2;Persist Security Info=True;User ID=jherp;Password=jherp;Unicode=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\JHERPDB2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=JHERPDB2;Persist Security Info=True;User ID=jherp;Password=jherp;Unicode=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="JHERPDB" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=JHERPDB;Persist Security Info=True;User ID=sys;Password=sysjolihi;Unicode=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\JHERPDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=JHERPDB;Persist Security Info=True;User ID=sys;Password=sysjolihi;Unicode=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="jheip2" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=jheip;Persist Security Info=True;User ID=jheip;Password=jhjolihi;Unicode=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\jheip2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=jheip;Persist Security Info=True;User ID=jheip;Password=jhjolihi;Unicode=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="jh815" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=jh815;Persist Security Info=True;User ID=eagle;Password=shefalls;Unicode=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\jh815_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=jh815;Persist Security Info=True;User ID=eagle;Password=shefalls;Unicode=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="jheip" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=JHERPDB;Persist Security Info=True;User ID=jheip;Password=jhjolihi;Unicode=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\jheip_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=JHERPDB;Persist Security Info=True;User ID=jheip;Password=jhjolihi;Unicode=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)jh815-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)jheip-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)jheip2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JHERPDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JHERPDB2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MssqlConn-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>